<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trainee List</title>
</head>
<body>
    <h1>Trainees</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        {% for trainee in trainees %}
        <tr>
            <td>{{ trainee.name }}</td>
            <td>{{ trainee.email }}</td>
            <td>{{ trainee.phone }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No trainees found.</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'add_trainee' %}">Add Trainee</a>
</body>
</html>
